*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Utilities */

/* Navbar */
.navbar{
    background: #111;
    color: #fff;
    padding: 20px 50px;
}

.navbarTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchNavbar{
    display: flex;
    align-items: center;
    background: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background: transparent;
}
.searchInput::placeholder{
    color: lightgray;
}
.searchInput:focus{
    outline: none;
}

.searchIcon{
    height: 20px;
    width: 20px;
}

.limitedOffer{
    border-bottom: 2px solid #369e62;
    padding-bottom: 3px;
    cursor: pointer;
}

.navbarBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.menuItem{
    color: lightgray;
    cursor: pointer;
    font-weight: 400;
    margin-right: 5%;
}


/* Slider */
.slider{
    background: url("../img/Brick.png") no-repeat center center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderwrapper{
    width: 500vw;
    display: flex;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    position: absolute;
    background: #369e62;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    top: 3%;
    left: 25%;
    z-index: 1;
}

.sliderImg{
    z-index: 2;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    border: 1px solid gray;
    color: #369e62;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    z-index: 2;
}

.buyBtn{
    position: absolute;
    top: 45%;
    right: 15%;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    background: black;
    border: 1px solid gray;
    cursor: pointer;
    padding: 5px;
    z-index: 2;
}
.buyBtn:hover{
    background: #fff;
    color: black;
}

.sliderItem:nth-child(2) .sliderBg{
    background: rebeccapurple;

}
.sliderItem:nth-child(3) .sliderBg{
    background: teal;
}
.sliderItem:nth-child(4) .sliderBg{
    background: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg{
    background: rgb(124, 115, 80);
}

.sliderItem:nth-child(2) .sliderPrice{
    color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderPrice{
    color: teal;
}
.sliderItem:nth-child(4) .sliderPrice{
    color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(124, 115, 80);
}


/* Feature */
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureImg{
    width: 80px;
    height: 80px;
}

.featureTitle{
    padding: 20px 0;
    font-weight: 900;
}

.featureDesc{
    padding: 0 40px;
    color: gray;
}


/* Product */
.product{
    height: 100vh;
    background: rgb(255, 245, 246);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
}

.productImg{
    width: 45%;
    padding-left: 2%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 70px;
    font-weight: 900;
}

.productPrice{
    margin: 30px 0;
}

.productDesc{
    font-size: 18px;
    color: gray;
    margin: 0 30px 30px 0;
}

.colors, .sizes{
    display: flex;
    margin-bottom: 30px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: black;
    cursor: pointer;
}

.color:nth-child(2){
    background: darkblue;
    margin-left: 10px;
}

.size{
    font-size: 20px;
    border: 1px solid black;
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.productBtn{
    font-size: 20px;
    font-weight: 900;
    background: black;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    float: right;
    margin: 20px 40px 0 0;
}

.productBtn:hover{
    background: #fff;
    color: black;
}

/*payment*/
.payment{
    width: 500px;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    display: none;
    flex-direction: column;
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 10px -2px #000000; 
    box-shadow: 0px 0px 10px -2px #000000;
}

.paymentTitle{
    font-size: 20px;
    font-weight: 600;
    color: gray;
    margin: 10px 0;
}

label{
    font-size: 14px;
    font-weight: 400;
}

.paymentInput{
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.paymentInput::placeholder{
    color: gray;
}
.paymentInput:focus{
    outline: none;
}

.cardIcons{
    display: flex;
    align-items: center;
}

.cardIcon{
    width: 40px;
    margin-right: 10px;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.w-30{
    width: 30%;
}

.paymentBtn{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 0;
    border: none;
    background: #369e62;
    -webkit-box-shadow: 0px 0px 10px -2px #000000; 
    box-shadow: 0px 0px 10px -2px #000000;
    color: #fff;
}

.closeBtn{
    background: #369e62;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 16px;
}


/* Gallery */
.gallery{
    display: flex;
    padding: 50px;
}

.galleryItem{
    flex: 1;
    padding: 50px;
}

.galleryTitle{
     margin: 10px 0;
}

.galleryImg{
    width: 100%;
}